

.banner {

	position: relative;

	width: 100%;

	height: auto;

	overflow: hidden;

	margin-top: 68px;

	background-size: 100% auto;

	background-repeat: no-repeat;

	background-position: left 120px;

	background-attachment: fixed;

}

.banner .bannerBg{margin:0 auto;width:100%;height:350px;vertical-align:middle;}


.blk {width: 1200px;margin: 0 auto 20px auto;margin-bottom: 25px;}
.lyd-curmbs {font-size:14px;border-bottom:1px solid #dcdcdc;line-height:70px;margin-bottom:25px;}
.lyd-curmbs b{border-left:10px solid #333;font-weight: normal;padding-left:8px;}
.lyd-curmbs i{font-style:normal;}
.lyd-curmbs i a{color:#333;}      
.lyd-curmbs span {font-family: 'ו';padding: 0 5px;height:46px;line-height:46px;}



.right-col{width:100%;}


.mainHead{width:100%;height:160px;text-align:center;border-bottom:1px solid #949494;}


.mainHead .tag{color:#434343;font-size:16px;line-height:30px;}



.main{padding:40px 0;text-align:center;border-bottom:1px solid #949494;}

.main p{color:#656565;font-size:16px;line-height:24px;text-align:left;padding:12px 0;}

.main img{max-width:100%;height: auto !important;}



.mainFoot{border-bottom:1px solid #949494;height:134px;line-height:134px;text-align:center;}

.mainFoot .mainFootBtn{margin:0 8px;display:inline-block;*display:inline;*zoom:1;font-size:22px;width:215px;height:50px;border:2px solid #098ecf;color:#333;text-align:center;line-height:50px;cursor:pointer;}

.mainFoot .mainFootBtn{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }

.mainFoot .mainFootBtn.on{background:#098ecf;color:#fff;}

.mainFoot .mainFootBtn:hover{background:#098ecf;color:#fff;}

.mainFoot .mainFootBtn.on:hover{border:2px solid #098ecf;color:#098ecf;background:#fff;}





@media  (max-width: 479px) {

.banner {position: relative;width: 360px;overflow: hidden;}

.banner .bannerBg{margin:0 auto;width:100%;height:300px;vertical-align:middle;}

.blk {width:348px;margin: 0 0 20px 0;margin-bottom: 25px;overflow: hidden;}


.mainHead{height:auto;margin-top:74px;padding:0 0 10px 0;}

.mainHead .title{line-height:36px;font-size:18px;padding-top:20px;}

.mainHead .tag{font-size:12px;line-height:12px;padding-bottom: 14px;}



.main{padding:10px 0;}

.main .container{width:93.75%;}

.main p{font-size:12px;line-height:18px;padding:5px 0;}

.mainFoot{height:auto;line-height:normal;padding:10px 0;}

.mainFoot .container{width:100%;}

.mainFoot .mainFootBtn{margin:2px 6px;font-size:18px;width:100%;height:42px;border:1px solid #333;line-height:42px;width:45%;}

.mainFoot .mainFootBtn.on:hover{border:1px solid #098ecf;}



}

@media (min-width: 480px) and (max-width: 639px) {

.banner {position: relative;width: 360px;overflow: hidden;}

.banner .bannerBg{margin:0 auto;width:100%;height:300px;vertical-align:middle;}

.blk {width:348px;margin: 0 0 20px 0;margin-bottom: 25px;overflow: hidden;}

.mainHead{height:auto;margin-top:74px;padding:0 0 10px 0;}

.mainHead .title{line-height:36px;font-size:18px;padding-top:20px;}

.mainHead .tag{font-size:12px;line-height:12px;padding-bottom: 14px;}



.main{padding:10px 0;}

.main .container{width:93.75%;}

.main p{font-size:12px;line-height:18px;padding:5px 0;}

.mainFoot{height:auto;line-height:normal;padding:10px 0;}

.mainFoot .container{width:100%;}


.mainFoot .mainFootBtn{margin:2px 6px;font-size:18px;width:100%;height:42px;border:1px solid #e50005;line-height:42px;width:45%;}

.mainFoot .mainFootBtn.on:hover{border:1px solid #098ecf;}





}

@media (min-width: 640px) and (max-width:1023px ) {

.mainHead{height:122px;margin-top:74px;}

.mainHead .title{line-height:44px;font-size:26px;padding-top:26px;}

.mainHead .tag{font-size:14px;line-height:26px;}



.main{padding:34px 0;}

.main .container{width:93.75%;}

.main p{font-size:14px;line-height:20px;padding:10px 0;}

.mainFoot{height:110px;line-height:110px;}

.mainFoot .mainFootBtn{margin:0 6px;font-size:18px;width:182px;height:42px;border:2px solid #333;line-height:42px;}

.mainFoot .mainFootBtn.on:hover{border:2px solid #333;}



}

@media (min-width: 1024px) and (max-width:1199px ) {

.wrap-box{width:100%;height:100%;}
.wrap-box .container{width:1200px;height:100%;margin:0 auto;}
.mainHead{height:120px;}

.mainHead h1 {
	text-align: center;
	font-size: 28px;
	padding: 0 15px;
	font-weight: normal;
	color: #000;
	font-family: 'MyriadPro-Bold_0';
	
}


.mainHead .tag{font-size:14px;line-height:21px;}

.left-col{float:left;width:865px;overflow: hidden;}

.right-col{float:right;width:300px;height:100%;overflow: hidden;}

.right-col h2 { display:block; color:#333; height:50px; font:22px "Microsoft YaHei"; font-weight:bold; line-height:30px; background:url(style/lyd-images/dy_line1.gif) no-repeat left 6px;padding-left:15px;border-bottom:1px solid #666;}

.Right-con{width:300px;}


.Right-con dl{
	padding: 10px 0;
	border-bottom: 1px dashed #333;
}
.Right-con dt a{ display:block; font:16px "Microsoft YaHei"; line-height:30px; height:30px; overflow:hidden; color:#000;}


.main{padding:28px 5px;}

.main .container{width:850px;}

.left-col .handle {height:80px;padding-top:12px;overflow:hidden;clear:both;}
.left-col .handle .context {float:left;}
.left-col .handle .context ul li {line-height:40px;color:#888;font-size:14px;}


.main p{font-size:12px;line-height:16px;padding:8px 0;}

.mainFoot{height:94px;line-height:94px;}

.mainFoot .container{width:796px;}

.mainFoot .mainFootBtn{margin:0 5px;font-size:15px;width:151px;height:34px;border:1px solid #333;line-height:34px;}

.mainFoot .mainFootBtn.on:hover{border:1px solid #098ecf;}





}

@media (min-width: 1200px) and (max-width:1439px ) {

.wrap-box{width:100%;height:100%;}
.wrap-box .container{width:1200px;height:100%;margin:0 auto;}

.mainHead{height:120px;}

.mainHead h1 {
	text-align: center;
	font-size: 28px;
	padding: 0 15px;
	font-weight: normal;
	color: #000;
	font-family: 'MyriadPro-Bold_0';
	
}


.mainHead .tag{font-size:14px;line-height:21px;}

.left-col{float:left;width:865px;overflow: hidden;}

.right-col{float:right;width:300px;height:100%;overflow: hidden;}

.right-col h2 { display:block; color:#333; height:50px; font:22px "Microsoft YaHei"; font-weight:bold; line-height:30px; background:url(style/lyd-images/dy_line1.gif) no-repeat left 6px;padding-left:15px;border-bottom:1px solid #666;}

.Right-con{width:300px;}

.Right-con dl{
	padding: 10px 0;
	border-bottom: 1px dashed #333;
}
.Right-con dt a{ display:block; font:16px "Microsoft YaHei"; line-height:30px; height:30px; overflow:hidden; color:#000;}



.main{padding:28px 5px;}

.main .container{width:850px;}


.left-col .handle {height:80px;padding-top:12px;overflow:hidden;clear:both;}
.left-col .handle .context {float:left;}
.left-col .handle .context ul li {line-height:40px;color:#888;font-size:14px;}

.main p{font-size:12px;line-height:16px;padding:8px 0;}

.mainFoot{height:94px;line-height:94px;}

.mainFoot .container{width:796px;}

.mainFoot .mainFootBtn{margin:0 5px;font-size:15px;width:151px;height:34px;border:1px solid #333;line-height:34px;}

.mainFoot .mainFootBtn.on:hover{border:1px solid #098ecf;}





}

@media (min-width: 1440px) and (max-width:1920px ) {

.wrap-box{width:100%;height:100%;}
.wrap-box .container{width:1200px;height:100%;margin:0 auto;}

.mainHead{height:144px;}

.mainHead h1 {
	text-align: center;
	font-size: 28px;
	padding: 0 15px;
	font-weight: normal;
	color: #000;
	font-family: 'MyriadPro-Bold_0';
	
}


.mainHead .tag{font-size:14px;line-height:26px;}

.left-col{float:left;width:865px;overflow: hidden;}

.right-col{float:right;width:300px;height:100%;overflow: hidden;}
.right-col h2 { display:block; color:#333; height:50px; font:22px "Microsoft YaHei"; font-weight:bold; line-height:30px; background:url(style/lyd-images/dy_line1.gif) no-repeat left 6px;padding-left:15px;border-bottom:1px solid #666;}

.Right-con{width:300px;}

.Right-con dl{
	padding: 10px 0;
	border-bottom: 1px dashed #333;
}
.Right-con dt a{ display:block; font:16px "Microsoft YaHei"; line-height:30px; height:30px; overflow:hidden; color:#000;}

.main{padding:34px 5px;}

.main .container{width:960px;}

.main p{font-size:14px;line-height:20px;padding:10px 0;}


.left-col .handle {height:80px;padding-top:12px;overflow:hidden;clear:both;}
.left-col .handle .context {float:left;}
.left-col .handle .context ul li {line-height:40px;color:#888;font-size:14px;}


.mainFoot{height:114px;line-height:114px;}

.mainFoot .container{width:960px;}

.mainFoot .mainFootBtn{margin:0 6px;font-size:18px;width:182px;height:42px;border:2px solid #333;line-height:42px;}

.mainFoot .mainFootBtn.on:hover{border:2px solid #098ecf;}


}

